@use "./_variables.scss" as *;

.container {
  width: 100%;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}

.header { padding: 12px 0; border-bottom: 1px solid $border; }
.footer { padding: 16px 0; border-top: 1px solid $border; color: $muted; }
