@use "./_variables.scss" as *;

.sr-only {
  position: absolute !important;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.mt-8 { margin-top: 8px; }
.mb-8 { margin-bottom: 8px; }
.p-8 { padding: 8px; }
.text-muted { color: $muted; }
